<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/work">About</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/projects">Projects</a></li>
<!--            <li><a href="{{site.baseurl}}/visualization">Visualization</a></li>-->
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
