<div class="header-menu" id="header-menu">
    <div class="close-btn">
        <button class="btn-close" id="btn-close">&#x274C</button>
    </div>

    <ul class="site-nav" id="site-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/work">About</a></li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/visualization">Visualization</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
</div>
